<div class="footer">
    <p class="mb-0">
        <b>Ujjawal Sansakar</b> © <span id="current_year"></span>
    </p>
</div>

<script>
        const d = new Date().getFullYear();
        document.getElementById("current_year").innerHTML = d;
</script>