@model Web.Areas.Admin.HomeModel
<header class="top-header">
    <nav class="navbar navbar-expand">
        <div class="left-topbar d-flex align-items-center">
            <a href="javascript:;" class="toggle-btn">
                <i class="bx bx-menu"></i>
            </a>
        </div>
        <div class="flex-grow-1 search-bar">
            <div class="">
                @*@if (Model.Registration_Business_Obj.FK_User_Role_Id == 3)
                    {
                        if (Model.Registration_Business_Obj.IsRegFeesPaid == true)
                        {
                            <span class="bg-primary fs-4 text-center border rounded" style="line-height:40px">Active</span>
                        }
                        else
                        {
                            <div class="bg-danger fs-4 text-center border rounded" style="line-height:40px">In Active</div>
                        }
                    }*@
            </div>
        </div>
        <div class="right-topbar ms-auto">
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user-profile">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown">
                        <div class="d-flex user-box align-items-center">
                            <div class="user-info">                               
                            </div>
                            @if (!String.IsNullOrEmpty(Model.Registration_Business_Obj.Img_File))
                            {
                                <img src="@Url.Content(Model.Registration_Business_Obj.Img_File)" class="user-img" alt="user avatar">
                            }
                            else
                            {
                                <img src="~/Areas/Admin/Content/assets/images/avatars/avatar-1.png" class="user-img" alt="user avatar">
                            }
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="javascript:;">
                            <i class="bx bx-user"></i><span>Profile</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("Dashboard","Home")">
                            <i class="bx bx-tachometer"></i><span>Dashboard</span>
                        </a>
                        <a class="dropdown-item" href="@Url.Action("ChangePassword","Security")">
                            <i class="bx bx-user-pin"></i><span>Update Password</span>
                        </a>
                        <div class="dropdown-divider mb-0"></div><a class="dropdown-item" href="@Url.Action("Logout","Security")">
                            <i class="bx bx-power-off"></i><span>Logout</span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

