
@{
    ViewBag.Title = "ChangePassword";
    Layout = null;
    var Type = TempData["AlertType"] ?? string.Empty;
    var Message = TempData["AlertMessage"] ?? string.Empty;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Ujjawal Sanskar-Change Password</title>
    <!--favicon-->
    <link rel="icon" href="~/Areas/Admin/Content/assets/images/favicon-32x32.png" type="image/png" />
    <!-- loader-->
    <link href="~/Areas/Admin/Content/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&amp;family=Roboto&amp;display=swap" />
    <!-- Icons CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/icons.css" />
    <!-- App CSS -->
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/app.css" />
    <link href="~/Content/assets/iziToast/iziToast.min.css" rel="stylesheet" />
    <script src="~/Content/assets/iziToast/iziToast.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/jquery.min.js"></script>
</head>

<body>
    <!-- wrapper -->
    <div class="wrapper">
        <div class="authentication-reset-password d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="card radius-15">
                        <div class="row g-0">
                            <div class="col-lg-5">
                                <div class="card-body p-md-5">
                                    <a href="@Url.Action("DashBoard","Home")">
                                        <div class="text-left d-flex">
                                            <img src="~/Areas/Admin/Content/assets/images/logo-NoBg-Blue.png" width="150" alt="">
                                            <p class="fs-4 fw-bold px-3 pt-5 color-2 logo-text">Ujjawal <span style="color: #404142;">Sanskar</span></p>
                                        </div>
                                    </a>
                                    <h4 class="mt-5 font-weight-bold">Change Password</h4>
                                    @using (Html.BeginForm("SaveChangePassword", "Security", FormMethod.Post, new { enctype = "multipart/form-data", @class = "row g-3" }))
                                    {
                                        <div class="mb-3 mt-5">
                                            <label class="form-label">Old Password</label>
                                            <div class="input-group show_hide_password" id="show_hide_password">
                                                <input type="password" class="form-control border-end-0" name="OldPassword" id="OldPassword" value="" placeholder="Old Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">New Password</label>
                                            <div class="input-group show_hide_password" id="show_hide_password">
                                                <input type="password" class="form-control border-end-0" id="NewPassword" name="NewPassword" value="" placeholder="New Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Confirm Password</label>
                                            <div class="input-group show_hide_password" id="show_hide_password">
                                                <input type="password" class="form-control border-end-0" id="ConfirmNewPassword" value="" placeholder="Confirm Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                            </div>
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button type="submit" disabled id="submitBtn" class="btn btn-primary">Change Password</button>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-lg-7 d-none d-md-inline ">
                                <img src="~/Areas/Admin/Content/assets/images/login-images/forgot-password-frent-img.jpg" class="card-img login-img h-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#NewPassword,#ConfirmNewPassword").change(function () {
            if ($("#NewPassword").val() != "" && $("#ConfirmNewPassword").val() != "") {
                if (($("#NewPassword").val()) == ($("#ConfirmNewPassword").val())) {
                    iziToast.success({ timeout: 5000, icon: 'fa fa-chrome', title: 'OK', message: 'Password Matched' });
                    $('#submitBtn').removeAttr("disabled");
                } else {
                    iziToast.error({ title: 'Error', message: 'Password Mismatch' });
                    $('#submitBtn').attr("disabled", true);
                }
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            $(".show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($(($(this).parent()).find('input')[0]).attr("type") == "text") {
                    $(($(this).parent()).find('input')[0]).attr('type', 'password');
                    $(($(this).parent()).find('i')[0]).addClass("bx-hide");
                    $(($(this).parent()).find('i')[0]).removeClass("bx-show");
                } else {
                    $(($(this).parent()).find('input')[0]).attr('type', 'text');
                    $(($(this).parent()).find('i')[0]).addClass("bx-show");
                    $(($(this).parent()).find('i')[0]).removeClass("bx-hide");
                }
            });
        });
    </script>
    <script>
      var Message = '@Message';
    if (Message != '') {
        iziToast.success({
            title: '@Type',
            message: '@Message',
        });
    }
    </script>
</body>
</html>