
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-header">
    <div class="bg-item">
        <div class="bg-img" data-background="@Url.Content("~/Content/assets/img/Banner/AboutUs_Banner.png")"></div>
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">About Us</h1>
            <h4 class="sub-title"><a class="home" href="@Url.Action("Index","Home")">Home </a><span class="icon">/</span><a class="inner-page" href="javascript:void();"> About Page</a></h4>
        </div>
    </div>
</section>

<section class="about-section-10 pt-80 pb-50">
    <div class="shape-1">
        <img src="~/Content/assets/img/new-update-2/shapes/about-shape-1.png" alt="shape">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading mb-30">
                    <h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>About Company</h4>
                </div>
                <div class="about-img-wrap-10">
                    <div class="about-img-1">
                        <img src="~/Content/assets/img/Banner/about-A.png" />
                    </div>
                    @*<div class="about-img-2"><img src="~/Content/assets//img/new-update-2/about-img-2.png" alt="about"></div>*@
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt-5">
                <div class="about-content-8 about-content-10">
                    <div class="section-heading mb-30">
                        <h3 class="wow fade-in-bottom" data-wow-delay="400ms">Simple and standard — great for accessibility and clarity. </h3>
                    </div>
                    <div class="about-tab">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="about-content-tab-1" data-bs-toggle="tab" data-bs-target="#about-tab-1" type="button" role="tab" aria-controls="home" aria-selected="true">Our Mission</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="about-content-tab-2" data-bs-toggle="tab" data-bs-target="#about-tab-2" type="button" role="tab" aria-controls="profile" aria-selected="false" tabindex="-1">Our Vision</button>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="about-tab-1" role="tabpanel" aria-labelledby="about-content-tab-1">
                                <p>
                                    उज्जवल संस्था का मुख्य उद्देश्य गरीब बच्चों के बीच मुफ्त शिक्षा देने का प्रयास करना है।
                                    Engineering, Medical, UPSC में चयन हो भारत के किसी भी कोने में कोई भी Merit वाला छात्र अगर अभावग्रस्त है तो उसकी पढ़ाई संस्था द्वारा कराई जाएगी। Engineering, Medical, UPSC की तैयारी की फीस व रहने खाने की सुविधा संस्था द्वारा दी जाएगी। इस पूरे प्रोग्राम
                                    में प्रतियोगिता परीक्षा की तैयारी करने वाले छात्र छात्राओं को विशेष रूप से चयन किया जाएगा और उन्हें Scholarship दी जाएगी।
                                </p>
                                <ul class="about-list">
                                    <li><span>01</span>Admission – ₹100 /- → One Hundred</li>
                                    <li><span>02</span>Adv. – ₹10,000 /- → Ten Thousand</li>
                                    <li>
                                        <span>03</span>₹10,000 /- Will refunded ₹500/- per month
                                        after the admission of two students.
                                    </li>

                                </ul>
                                <div class="about-btn mt-30">
                                    <a href="javascript:void();" class="ed-primary-btn">Get a Free Lesson</a>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="about-tab-2" role="tabpanel" aria-labelledby="about-content-tab-2">
                                <p>
                                    To create a future where no talented student is held back by financial hardship — empowering
                                    underprivileged youth across India to achieve success in Engineering, Medical, and UPSC through free,
                                    quality education, mentorship, and support. We envision a society where merit meets opportunity,
                                    and every child has the chance to rise, regardless of their background.
                                </p>
                                <ul class="about-list">
                                    <li>
                                        <span>01</span>To ensure that every meritorious but underprivileged student in India gets free access to quality education and resources for competitive exams like Engineering,
                                        Medical, and UPSC.
                                    </li>
                                </ul>
                                <div class="about-btn mt-30">
                                    <a href="javascript:void();" class="ed-primary-btn">Get a Free Lesson</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="about-section pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="about-img-wrap wow fade-in-left" data-wow-delay="400ms">
                    <div class="about-img-1">
                        <img src="~/Content/assets/img/Banner/About_2c.jpg" />

                    </div>
                    <div class="about-img-2">
                        <img src="~/Content/assets/img/Banner/About_B.png" />
                    </div>
                    <div class="about-contact">
                        <div class="icon"><i class="fa-sharp fa-regular fa-phone-volume"></i></div>
                        <div class="content">
                            <span>Contact Us</span>
                            <a href="@Url.Action("Conatct","Home")"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="about-content">
                    <div class="section-heading mb-40">
                        <h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>Get More About Us</h4>
                        <h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">हौसलों की उड़ान: हर सपने की है क़ीमत</h2>
                        <p class="mt-20 wow fade-in-bottom" data-wow-delay="500ms">
                            सपने देखने का हक़ हर किसी को है, चाहे उसकी जेब में रुपये हों या नहीं। आर्थिक रूप से कमजोर परिवारों के लिए यह सफर आसान नहीं होता, लेकिन यही कठिनाइयाँ इंसान को सबसे मजबूत बनाती हैं।
                        </p>
                        <p>
                            जब संसाधन कम होते हैं, तो मेहनत और हौसला ही सबसे बड़ा सहारा बनता है। कई बार हालात तोड़ने की कोशिश करते हैं, लेकिन अगर इरादा मजबूत हो, तो कोई भी मंज़िल दूर नहीं होती।
                            सरकार, समाज और कई संस्थाएं आज ऐसे होनहारों के साथ खड़ी हैं, जो मेहनत से अपनी किस्मत बदलना चाहते हैं।
                        </p>
                        <h6>
                            याद रखिए — हालात चाहे जैसे भी हों, आपके सपनों की क़ीमत है। <br /> <br />
                            अपने आत्मविश्वास को उड़ान दीजिए, क्योंकि आपकी मेहनत ही आपकी पहचान बनेगी।
                        </h6>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ about-section -->
<section class="testimonial-section-3 pt-120 pb-120">
    <div class="shapes">
        <div class="shape shape-1"><img src="~/Content/assets/img/shapes/testi-shape-3.png" alt="shape"></div>
        <div class="shape shape-2"><img src="~/Content/assets/img/shapes/testi-shape-4.png" alt="shape"></div>
    </div>
    <div class="container">
        <div class="row gy-xl-0 gy-5 align-items-center">
            <div class="col-xl-5 col-lg-12">
                <div class="testi-left-content white-content">
                    <div class="section-heading mb-20 white-content">
                        <h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>Our Testimonials</h4>
                        <h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">What Students Think and <br>Say About Ujjawal Sanskar</h2>
                    </div>
                    <p class="mb-0 wow fade-in-bottom" data-wow-delay="500ms">Empowering businesses with cutting-edge technology, reliable support, <br> and seamless integration.</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="testi-carousel-wrap-2">
                    <div class="testi-carousel-2 swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-item-3">
                                    <p>
                                        यह कंपनी समय पर गुणवत्तापूर्ण सेवाएं प्रदान करती है। कर्मचारियों का व्यवहार बहुत सहयोगी और प्रोफेशनल है। मेरा अनुभव बहुत अच्छा रहा। मैं सभी को इसकी सेवाएं लेने की सिफारिश करता हूँ।
                                    </p>
                                    <div class="testi-author">
                                        <div class="testi-author-img">
                                        </div>
                                        <h4 class="name">Kartick Singh<br /><span>Panchayat Sewak</span></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item-3">
                                    <p>
                                        This company stands out for its commitment to excellence. Their attention to detail, prompt communication, and client-first approach made a real difference. Truly dependable and value-driven — I highly recommend their services.
                                    </p>
                                    <div class="testi-author">
                                        <div class="testi-author-img">
                                        </div>
                                        <h4 class="name">Manoj Yadav <br /><span>Government employee</span></h4>
                                    </div>
                                </div>
                            </div>

                         
                        </div>

                        </div>
                    </div>
                    <div class="swiper-arrow">
                        <div class="swiper-nav swiper-next"><i class="fa-regular fa-arrow-left"></i></div>
                        <div class="swiper-nav swiper-prev"><i class="fa-regular fa-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="counter-section">
    <div class="container">
        <div class="row counter-wrap gy-lg-0 gy-5">
            <div class="col-lg-4 col-md-6">
                <div class="counter-item item-1 white-content">
                    <h3 class="title"><span class="odometer" data-count="3,192">0</span>+</h3>
                    <p>Successflly Completed</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="counter-item white-content">
                    <h3 class="title"><span class="odometer" data-count="15,485">0</span>+</h3>
                    <p>Total Member</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="counter-item white-content">
                    <h3 class="title"><span class="odometer" data-count="97.55">0</span>%</h3>
                    <p>Satisfaction Rate</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ counter-section -->
<!-- ./ testimonial-section -->
