
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-header">
    <div class="bg-item">
        <div class="bg-img" data-background="~/Content/assets/img/bg-img/page-header-bg.png"></div>
        <div class="overlay"></div>
        <div class="shapes">
            <div class="shape shape-1"><img src="~/Content/assets/img/shapes/page-header-shape-1.png" alt="shape"></div>
            <div class="shape shape-2"><img src="~/Content/assets/img/shapes/page-header-shape-2.png" alt="shape"></div>
            <div class="shape shape-3"><img src="~/Content/assets/img/shapes/page-header-shape-3.png" alt="shape"></div>
        </div>
    </div>
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Blog</h1>
            <h4 class="sub-title"><a class="home" href="@Url.Action("Index","Home")">Home </a><span class="icon">/</span><a class="inner-page" href="javascript:void()"> Blog</a></h4>
        </div>
    </div>
</section>
<!-- ./ page-header -->

<section class="blog-list-area pt-80 pb-80">
    <div class="container">
        <h2 class="text-center mb-3">Our Blog</h2>
        <div class="row justify-content-center post-card-2-wrap">
            <div class="col-lg-10">
                <div class="post-card-2 post-inner wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="post-thumb">
                        <img src="~/Content/assets/img/Banner/Blog_A.jpg" />
                        @*<img src="~/Content/assets/img/blog/post-4.png" alt="post">*@
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>August 15, 2025</li>
                            </ul>
                            <h3 class="title">
                                <a href="javascript:void()">
                                    Hope Through Education: Lifting Lives from the Ground Up
                                </a>
                            </h3>
                            <p>
                                Education brings light to the darkest corners of society. It empowers the poor, inspires dreams, and creates lasting change.
                                Through education, even the most underprivileged can rise, thrive, and lead better lives.
                            </p>
                            <a href="javascript:void()" class="ed-primary-btn">Read More <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="post-card-2 post-inner wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="post-thumb">
                        <img src="~/Content/assets/img/Banner/Blog_C.jpg" />
                        @*<img src="~/Content/assets/img/blog/post-5.png" alt="post">*@
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>September 05, 2025</li>
                            </ul>
                            <h3 class="title">
                                <a href="javascript:void()">
                                    UPSC Dreams: From Aspirant to Administrator
                                </a>
                            </h3>
                            <p>
                                UPSC is not just an exam—it’s a journey of discipline, sacrifice, and purpose. Every aspirant dreams of becoming an administrator and making a meaningful impact on society and governance.
                            </p>
                            <a href="javascript:void()" class="ed-primary-btn">Read More <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="post-card-2 post-inner wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="post-thumb">
                        <img src="~/Content/assets/img/Banner/Blog_F.png" />
                        @*<img src="~/Content/assets/img/blog/post-6.png" alt="post">*@
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>September 20, 2025</li>
                            </ul>
                            <h3 class="title"><a href="javascript:void()">How Early Education Shapes Future Success</a></h3>
                            <p>
                                Early education lays the foundation for lifelong learning. It shapes thinking, builds confidence, nurtures curiosity, and instills values—traits that help children grow into successful and responsible individuals.
                            </p>
                            <a href="javascript:void()" class="ed-primary-btn">Read More <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="post-card-2 post-inner wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="post-thumb">
                        <img src="~/Content/assets/img/Banner/About_1.png" />
                        @*<img src="~/Content/assets/img/blog/post-7.png" alt="post">*@
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>October 02, 2025</li>
                            </ul>
                            <h3 class="title"><a href="javascript:void()">Mastering Time Management and Focus</a></h3>
                            <p>
                                Mastering time management and focus transforms productivity. Prioritizing tasks, setting clear goals, and eliminating distractions help maximize efficiency, reduce stress, and create space for deep, meaningful work and long-term personal growth.
                            </p>
                            <a href="javascript:void()" class="ed-primary-btn">Read More <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="post-card-2 post-inner wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="post-thumb">
                        <img src="~/Content/assets/img/Banner/Blog_B.jpg" />
                        @*<img src="~/Content/assets/img/blog/post-1.jpg" alt="post">*@
                    </div>
                    <div class="post-content-wrap">
                        <div class="post-content">
                            <ul class="post-meta">
                                <li><i class="fa-sharp fa-regular fa-clock"></i>Novembetr 25, 2025</li>
                            </ul>
                            <h3 class="title"><a href="javascript:void()">Preparing Students for the Jobs of the Future</a></h3>
                            <p>
                                Preparing students for the jobs of the future means equipping them with critical thinking, creativity, adaptability, and digital skills. Future-ready education empowers learners to innovate, solve real-world problems, and thrive globally.
                            </p>
                            <a href="javascript:void()" class="ed-primary-btn">Read More <i class="fa-regular fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="pagination-wrap text-center">
                    <li><a href="#">01</a></li>
                    <li><a href="#" class="active">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#"><i class="fa-regular fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ./ blog-details -->
