
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-header">
    <div class="bg-item">
        <div class="bg-img" data-background="@Url.Content("~/Content/assets/img/Banner/Service_Banner.jpg")"></div>
        <div class="overlay"></div>
    </div>
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Service Banner</h1>
            <h4 class="sub-title"><a class="home" href="@Url.Action("Index","Home")">Home </a><span class="icon">/</span><a class="inner-page" href="javascript:void()"> Services</a></h4>
        </div>
    </div>
</section>
<!-- ./ page-header -->

<section class="feature-course bg-white pt-80 pb-80">
    <div class="container">
        <div class="section-heading text-center">
            @*<h4 class="sub-heading wow fade-in-bottom" data-wow-delay="200ms"><span class="heading-icon"><i class="fa-sharp fa-solid fa-bolt"></i></span>Top Class Courses</h4>*@
            <h2 class="section-title wow fade-in-bottom" data-wow-delay="400ms">Explore Top Featured Services</h2>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb">
                            <img src="~/Content/assets/img/Banner/Service_1.jpg" />
                        </div>
                    </div>
                    <div class="course-content">
                        <h4>Get Chance to Prepation best Institute</h4>
                        <p>
                            Refer aspiring students, earn rewards, and access premium IIT coaching. Grow your network while helping others achieve their IIT dreams.
                        </p>
                    </div>
                   
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item wow fade-in-bottom" data-wow-delay="400ms">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb">
                            <img src="~/Content/assets/img/Banner/Serice_2.jpg" />
                        </div>
                    </div>
                    <div class="course-content">
                        <h4 class="">Crack UPSC with Smart Support </h4>
                        <p>
                            Refer UPSC aspirants, earn rewards, and access top study material. Build a learning community while growing your network smartly.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item wow fade-in-bottom" data-wow-delay="500ms">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb">
                            <img src="~/Content/assets/img/Banner/service_3.jpg" />
                        </div>
                    </div>
                    <div class="course-content">
                        <h4 class="">Support Future Doctors While Growing Your Support</h4>
                        <p>
                            Guide NEET aspirants, share trusted coaching links, earn passive income, and build a thriving community focused on medical career success.
                        </p>

                    </div>
                  
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item wow fade-in-bottom" data-wow-delay="200ms">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb">
                            <img src="~/Content/assets/img/Banner/service_6.jpg" />
                        </div>
                    </div>
                    <div class="course-content">
                        <h4 class="">Nurture Young Minds While Expanding Your Educational Impact</h4>
                        <p>
                            Spark curiosity in young achievers, promote Olympiad excellence, earn through mentorship-driven referrals, and grow an inspired academic community nationwide.
                        </p>
                    </div>
                
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item wow fade-in-bottom" data-wow-delay="400ms">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb">
                            <img src="~/Content/assets/img/Banner/Service_4.jpg" />
                        </div>
                    </div>
                    <div class="course-content">
                        <h4 class="">Connect, Prepare, and Prosper Together</h4>
                        <p>
                            Refer BPSC aspirants, share quality resources, earn rewards, and build a strong learning network focused on public service exam success.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="course-item wow fade-in-bottom" data-wow-delay="500ms">
                    <div class="course-thumb-wrap">
                        <div class="course-thumb">
                            <img src="~/Content/assets/img/Banner/service_5.jpg" />
                        </div>
                    </div>
                    <div class="course-content">
                        <h4 class="">Build Discipline, Earn Rewards, and Lead a Future Defenders</h4>
                        <p>
                            Inspire patriots, guide NDA dreamers, earn through referrals, and grow a mission-focused network shaping tomorrow’s defenders of the nation.
                        </p>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ./ course-section -->
